 <hr>
 <div id="form-bottom-menu">
   <div id="floatRight">
     <%= imageLinkTo "Print_16x16.png", 
                     {:action => "print_shoppinglist", :id => 1}, 
                     "Druckansicht", true %>  
   </div>
 </div>
