<% if not @lists.empty? %>
<div id="marginTop">
  <div id="form">
    <h1>Liste</h1>

    <% table ["Rezept"] do %>
      <% @lists.each do |item| %>
        <% table_row(item, edit_list_path(item),
           alternating=true, show=false,
           edit=logged_in?, destroy=logged_in?) do %>
           <%  recipe = Recipe.find(item.recipe_id) %>
          <%= table_cell linkTo( recipe.name, recipe) %>
        <% end %>
      <% end %> <!--end .each-->
    <% end %> <!--end table-->    

  </div>
</div>
<% end %>
