<h1>Listing lists</h1>

<table>
  <tr>
    <th>Recipe</th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%=h linkTo "#{Recipe.find(list.recipe_id).name}", edit_list_path(list) %></td>
    <td><%= link_to_destroy list %></td>
  </tr>
<% end %>
</table>

