<% if not @shoppinglist.empty? %>

<div id="marginTop">
<% form('Rezepte', ["#{imageLinkTo 'Print_16x16.png', {:action => 'print', :id => 1}, 
                     'Druckansicht', true if logged_in? }"], nil) do %>

    <% table ["Rezept"] do %>
      <% @shoppinglist.each do |item| %>
        <% table_row(item, edit_list_path(item),
           alternating=true, show=true,
           edit=false, destroy=true) do %>
           <%  recipe = Recipe.find(item.recipe_id) %>
           <%= table_cell(link_to_remote recipe.name, 
             :url => { :controller => "Lists", :action => "edit", :id => item.id },
                       :update => { :success => "erg", :failure => "erg"},
                       :before => "$('erg').update('Laden...')",
                       :html => { :class => "link_ext" } ) %>

        <% end %>
      <% end %> <!--end .each-->
    <% end %> <!--end table-->    
  </div>
<% end %> <!--presentation_helper--> 

<div id="marginTop">
  <% form('Einkaufsliste', ["#{render :partial => 'print_button'}"], nil) do %>
    
    <% table ["Zutat", "Menge", "Einheit"] do %>
      <% for i in 1..@shoppinglistItems.length %>
        <% item = @shoppinglistItems.shift %>
        <% table_row(item, item, alternating=true, false, false, false) do %>
          <%= table_cell(item.ingred) %>
          <%= table_cell(item.amount) %>
          <%= table_cell(item.unit) %>
        <% end %>
      <% end %> <!--end .each-->
    <% end %> <!--end table-->    
    <% end %> <!--presentation_helper-->   
</div> <!--marginTop-->

<div id="erg"></div> 

<% end %>
