<%= render :partial => "shared/titles", :locals => {:tab => "rrm::Quellen", :page => "" }%>
<% form('Übersicht', ["#{button_to 'Neu', new_source_path if logged_in?}"], nil) do %>

  <h2>Quellen</h2>

  <% table ["Quelle", "Rezepte"] do %>
    <% @sources.each do |source| %>
      <% table_row(source, edit_source_path(source), alternating=true, show=false, edit=logged_in?, destroy=(source.recipes.length == 0)) do %>
        <%= table_cell linkTo( source.name, source ) %>
        <%= table_cell source.recipes.length %>
      <% end %>
    <% end %> <!--end .each-->
  <% end %> <!--end table-->

<% end %>
