<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::Kategorien",
           :page => "rrm"}%>
<% form('Übersicht', [], nil) do %>
  <h2>Kategorien (<%= @ingredtypes.length %>)</h2>
  <% table ["Bezeichnung", "Zutaten"] do %>
    <% @ingredtypes.each do |ingredtype| %>
      <% table_row(ingredtype, edit_ingredtype_path(ingredtype),
         alternate=true, show=false, edit=logged_in?, destroy=ingredtype.ingreds.count == 0) do %>

         <%= table_cell(link_to_remote ingredtype.name, 
             :url => { :controller => "Ingredtypes", :action => "show_remote", :id => ingredtype.id },
                       :update => { :success => "erg", :failure => "erg"},
                       :before => "$('erg').update('Laden...')",
                       :html => { :class => "link_ext" } ) %>

         <%= table_cell ingredtype.ingreds.length %>

      <% end %>
    <% end %>
  <% end %>

<% end %>
<div id="erg"></div>

