<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::Kategorien",
           :page => ""}%>

<div id="form">
  <h2>Kategorien (<%= @ingredtypes.length %>)</h2>
  <% table ["Bezeichnung", "Anzahl"] do %>
  <% @ingredtypes.each do |ingredtype| %>
    <%= table_row(ingredtype, edit_ingredtype_path(ingredtype),
        true, logged_in?, false, logged_in?, ingredtype.ingreds.count == 0,
        ["#{linkTo ingredtype.name, ingredtype}",
         "#{ingredtype.ingreds.length}"]) %>
    <% end %>
  <% end %>
<div />

