<% form('Bearbeiten', ["#{link_to 'Zurück', stations_path, :class => "link_ext"}"], nil) do %>

  <h2>Posten</h2>
<% form_for(@station) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td> <%= f.label :name %> <td>
      <td> <%= f.text_field :name %> <td>
    </tr>
  </table>
  <%= f.submit 'Bestätigen' %>
<% end %>

<% end %> <!--presentation_helper--> 
