<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::Posten",
                       :page => ""} %>
<div id="form">
  <h2>Posten</h2>

  <% table ["Posten", "Rezepte"] do %>
    <% @stations.each do |station| %>
      <% table_row(station, edit_station_path(station), alternating=true, show=false, edit=logged_in?, destroy=logged_in?) do %>
        <%= table_cell linkTo( station.name, station ) %>
        <%= table_cell station.recipes.length %>
      <% end %>
    <% end %> <!--end .each-->
  <% end %> <!--end table-->

  <% if logged_in? %>
    <%= button_to 'Neu', new_station_path %>
  <% end %>  
<div/>
