<h3>Zutaten</h3>
  <% if @ingred_list.length > 0 %>
    <br />
    <table>
      <tr>
        <th>Bezeichnung</th>
        <th>Menge</th>
        <th>Einheit</th>
      </tr>
      <% for i in 1..@ingred_list.length %>
        <% item = @ingred_list.shift %>
        <% ingred_recipe = Ingred.find(item.id).recipe %>
        <tr>
          <% if ingred_recipe == nil %>
            <td><%= link_to_new_tab "#{item.ingred}", Ingred.find(item.id) %></td>
          <% else %>
            <td><%= link_to_new_tab "#{item.ingred}", ingred_recipe %></td>
          <% end %>
          <td><%= item.amount %></td>
          <td><%= item.unit %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
