<%= render :partial => "shared/titles", :locals => {:tab => "Rezepte", :page => nil}%>

<% form('Übersicht', [], nil) do %>
  <h2>Rezepte (<%= @recipes_length  %>)</h2>
  <br/>
  <%= render :partial => "shared/alpha_search", :locals => {:c => "recipes"} %>
  <div id="erg">
    <%= render :partial => "shared/list_recipes" %>
  <div/> <!--erg-->
  10 latest recipes.
<% end %>

