*{
    margin:0;
}

body { background-color: #F6FFE5; /*#fff#666;*/
       color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}


#header {
    position: fixed;
    width: 100%;
    height: 33px;
    padding:7px;
    padding-bottom:-12px;
    color: white;
    font-size:21px;
    font-weight:bold;
/*  border-bottom:2px solid orange;*/
    background-color: #424242; /*#666*/

    background-image:url(/images/blackbar.png);
    background-repeat:repeat-x;
}

#header_box {
    margin-top: -21px;
    padding: 5px;
    padding-left: 11px;
    padding-top: 17px;
    width: 200px;
    height: 25px;
    background-color: #2E2E2E;

 /*    background-image:url(/images/nav1_slc.png);
    background-repeat:repeat-x;
*/

    -moz-border-radius:11px;
    -khtml-border-radius:11px;
    -webkit-border-radius:11px;
}

#header_img {
    float:right;
    width:53px;
    height:50px;
    background-image:url(/images/logo.png);
    background-repeat:no-repeat;
}

#header_text {
    height: 21px;
    margin-top:5px;
}

#header_title {
    font-size:21px;
    color: red;
    font-weight:bold;
}

#header_subtitle {
    font-size:11px;
    color: lightgrey;
}

#header_textfield {
    margin-top: -21px;
    margin-right: 10px;
    float:right;
}
/*
#menu {
    position: fixed;
    color: black;
    height:21px;
    min-width:850px;
    width: 100%;
    margin-top: 47px;
    border:none;
    background-color: #424242;

    background-image:url(/images/menu_img.png);
    background-repeat:repeat-x;
}
*/

#buffer {
    margin-top: 60px;
   background-color: #dedede;
}

#content {
   padding:12px;
}

#marginTop {
   height: auto;
   width: auto;
   margin-top: 79px;
}

#form{
   float: left;

   width:auto;
   height:auto;
   
   padding: 17px;

   margin: 3px;
   margin-top: 0px;

   background-color: #fff;
   
   border: 1px solid grey;
   -moz-border-radius:6px;
   -khtml-border-radius:6px;
   -webkit-border-radius:6px;
   -webkit-box-shadow: #000 3px 4px 17px ;
   -moz-box-shadow: grey 2px 3px 18px ;
} /*end form*/



#form_right{
  float:left;
  width:auto;
  height:auto;
  border:none;
  background-color: none;
}

#form_bottom_menu {
    padding-top:5px;
}

#search{
  float:left;
  width: 530pt; /*753pt;*//*53.5em;*//*700px;*/
  background-color: none;
}

#search_left{
  float:left;
  max-width: 500px;
}

#search-right{
   min-width:330px;
   min-height:416px;

   margin:11px;
   margin-bottom: 0px;
   margin-left: 350px;

   padding:17px;
   padding-left:17px;
   padding-right:17px;

   background-color: #fff;
   
   border: 1px solid grey;
   -moz-border-radius:10px;
   -khtml-border-radius:10px;
   -webkit-border-radius:10px;
   -webkit-box-shadow: #000 3px 4px 17px ;
   -moz-box-shadow: #000 3px 4px 14px ;
}

.line {
    width:auto;
    height:1px;
    margin-top:7.5px;
    margin-bottom:7.5px;
    border:none;
    border-bottom:1px solid grey;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*...........................externe..weblinks........................*/

a {
    color: black; /*#000;*/
    text-decoration: none;
}
a:visited { color: #maroon; }
a:hover { color: red; }
a:active {color:green;}


.link_ext{
  text-decoration: none;
    color: black;
}
.link_ext:focus {color:orange;}
.link_ext:visited { color: black }
.link_ext:hover { color: #2EFE2E }
.link_ext:active {color:green;}


