*{
    margin:0;
}
body { background-color: #F6FFE5; /*#fff#666;*/
       color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}


#header {
	height: 33px;
	padding:7px;
	padding-bottom:-12px;	
	color: white;
	font-size:21px;
	font-weight:bold;	
/*	border-bottom:2px solid orange;*/
	background-color: #424242; /*#666*/
    
    background-image:url(/images/blackbar.png);   
    background-repeat:repeat-x;  
}

#header_box {
    margin-top: -21px;
    padding: 5px;
    padding-left: 11px;
    padding-top: 17px;
    width: 200px;
    height: 25px;
    background-color: #2E2E2E;
    
 /*    background-image:url(/images/nav1_slc.png); 
    background-repeat:repeat-x;  
*/ 
    
    -moz-border-radius:11px;  
    -khtml-border-radius:11px;  
    -webkit-border-radius:11px;
}

#header_img {
    float:right;
    width:53px;
    height:50px;
    background-image:url(/images/logo.png);
    background-repeat:no-repeat;
}

#header_text {
    height: 21px;
    margin-top:5px;
}

#header_title {
    font-size:21px;
    color: red;
    font-weight:bold;
}

#header_subtitle {
    font-size:11px;
    color: lightgrey;
}

#header_textfield {
    margin-top: -21px;
    float:right;
}

#menu {
    color: black;
	height:21px;
	width:auto;	        
    padding-top: 3px;    
	padding-left:5px;
	border:none;
/*	border-bottom:1px solid grey; */
    background-color: #424242;
    
    background-image:url(/images/menu_img.png);   
    background-repeat:repeat-x;  
} 

#content {
    padding:12px;
}

#form{
  float:left;
  width:auto;
  height:auto;
  margin:11px;
  padding:17px;
  padding-left:17px;
  padding-right:17px;
  border:1px solid grey;
  background-color: #fff;
  -moz-border-radius:10px;
  -khtml-border-radius:10px;
  -webkit-border-radius:10px;
}


#form_right{
  float:left;
  width:auto;
  height:auto;
  border:none;
  background-color: none;
}


#search{
  float:left;
  width: 530pt; /*753pt;*//*53.5em;*//*700px;*/
  background-color: none;
  -moz-border-radius:10px;
  -khtml-border-radius:10px;
  -webkit-border-radius:10px;

}

#search_left{
  float:left;

}

#search_right{
  float:right;
  padding-left:20px;
/*  border-left:1px solid grey;*/
}

.line {
    width:auto;
    height:1px;
    margin-top:7.5px;
    margin-bottom:7.5px;
    border:none;
    border-bottom:1px solid grey;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*...........................externe..weblinks........................*/

.link_ext{
  text-decoration: none;
    color: black;
}
.link_ext:focus {color:orange;}
.link_ext:visited { color: black }
.link_ext:hover { color: #2EFE2E }
.link_ext:active {color:green;}

/*------------------------------Tabellen--------------------------------*/

table, td{
    font:100% Arial, Helvetica, sans-serif;
}
table{
  width:100%;
  border-collapse:collapse;
  margin:1em 0;
}
th, td{
  text-align:left;
  padding:0.2em;
  border:1px solid #fff;
}
th{
  background:#cccccc;
  color:#black;
}

td{
  background:white
}

td.td1{width:10px;}

tr.even td{background:#f5f5dc;}
tr.odd td{background:#D5D6E1;}
