/* ########### menu  #############*/

#menu {
   position: fixed;
    color: black;
    height:21px;
    min-width:850px;
    width: 100%;
    margin-top: 47px;
    border:none;
    background-color: #424242;
    background-image:url(/images/menu_img.png);
    background-repeat:repeat-x;
}


div#menu div {
  clear: both;
}


ul#Navigation {
  float: left;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

ul#Navigation li {
  float: left;
  position: relative;
  margin: 0 0px 0px 0px;
  padding: 2px 0px 1px 0px;
  list-style: none;
  background-image:url(/images/menu_img.png);
  background-repeat:repeat-x;
  border-right: 1px solid grey;
  min-width: 3em;
}

ul#Navigation li ul {

  display: none;
  position: absolute;
  top: 1em;
 /* left: -34%;*/
  min-width: 5em;
  background-color: silver;
}

/*2nd level li*/
ul#Navigation li ul li {
  background-image: none;
  background-color: silver;
  border: none;
  width: auto;
  left: -34%;
}

Ul#Navigation li > ul{
  position: absolute;
  top: auto; /*Abstand dropdown zu link*/
  top: 21px;
  Background-color: silver;
}

ul#Navigation li a{
  margin: 0 0px 0px 0px;
  padding: 2px 0px 1px 0px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 5em;
}

ul#Navigation li a:hover{
    background-image:url(/images/menu_img_usd.png);
}

ul#Navigation li ul li a{
    display: block;
    width: 100%;
    background-image:none;
    /*background-image:url(/images/menu_img.png);*/
}

ul#Navigation li ul li a:hover{
    background-image:none;
    background-color: grey;
}

ul#Navigation li:hover ul {
  display: block;
}


/* ================================================================
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/flyoutt.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the assocaited (x)html may be modified in any
way to fit your requirements.
=================================================================== */
/* common styling */

.menu {
    font-family: arial, sans-serif; font-size:11px;
    height:auto; width:auto;
    position:relative; float:left;
    margin:0px 0;
}
.menu ul {
    padding:0;
    margin:0;
    list-style-type: none;
}
.menu ul li {
    position:relative; float:left;
}
.menu ul li a, .menu ul li a:visited {
    display:block;
    font-size:11px; color:#000; text-align:center; text-decoration:none;
    height:21px; line-height:20px;
    background: silver; background-image:url(/images/menu_img.png); background-repeat:repeat-x;
    padding-left: 6px; padding-right: 6px;
}
.menu ul li a.hidden {color: #000; /*border-right:1px solid grey;*/}
/* Level_1 Menu */
.menu ul li ul {display: none;}

.menu ul li:hover a {
    color:#fff;
    background:#silver; background-image:url(/images/menu_img_usd.png); background-repeat:repeat-x;
    border:none;
}
.menu ul li:hover ul {
    display:block; position:absolute;
    bottom:105px; width:105px; top: 21px;
}
.menu ul li:hover ul li a.hidden {background:silver; color:#000;}
.menu ul li:hover ul li:hover a.hidden {width:150px; border:none;}
.menu ul li:hover ul li ul {display: none;}
/* Level_1 Menu Listitems */
.menu ul li:hover ul li a {
    display:block;
    color: #000; text-align:left;
    background: #E6E6E6; width:120px;
    padding-left:6px; padding-right:6px;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.menu ul li:hover ul li a:hover {background: silver; color: #000;}
/* Level_2 Menu Listitems */
.menu ul li:hover ul li:hover ul {display:block; position:absolute; left:151px; top:0; color:#000;}
.menu ul li:hover ul li:hover ul li a {display:block; width:200px; background:silver; color:#000;}
.menu ul li:hover ul li:hover ul li a:hover {background:orange; color:#000;}

