*{
    margin:0;
    background-color: white !important;
    background-image: none !important;
}

body {

}

body, p, ol, ul, td {
/*  font-family: verdana, arial, helvetica, serif; */
  font-family:"Times New Roman", Times, serif;
  font-size:   16px;
}

#content {
   padding:33px;
   width:100%;
}


#form{
  float:left;
  width:100%;
  height:auto;
  border:none;
  background-color: none;
}


.line {
    width:auto;
    height:1px;
    margin-top:7.5px;
    margin-bottom:7.5px;
    border:none;
    border-bottom:1px solid grey;
}


table, td{
/* font:100% Arial, Helvetica, serif; */
    font-family:"Times New Roman", Times, serif;
    font:100%;
}
table{
  width:auto;
  min-width:230px;
  border-collapse:collapse;
  margin:1em 0;
}
th, td{
  text-align:left;
  padding:0.2em;
  border:1px solid #fff;
}
th{
  background:#cccccc;
  color:#black;
}

td{
  background:white
}

td.td1{width:10px;}

tr.even td{background:#f5f5dc;}
tr.odd td{background:#D5D6E1;}
