table, td{
    font:100% Arial, Helvetica, sans-serif;
}

table{
  width:100%;
  border-collapse:collapse;
  margin:1em 0;
}

th, td{
  text-align:left;
  padding:0.2em;
  border:1px solid #fff;
}

th{
  background:#cccccc;
  padding-left:0.3em;
}

td{
  background:white;
}

td.td1{width:10px;}

tr.even td{background: #D8D8D8;}

tr.odd td{background: #fff /*#D5D6E1;*/}