<br />
<div id="form">
  <h2>Users (<%= @users.length %>)</h2>

 <% table ["Login", "email"] do %>
    <% @users.each do |user| %>
      <% table_row(user, edit_user_path(user), alternating=true, show=false, edit=logged_in?, destroy=logged_in?) do %>
        <%= table_cell linkTo( user.login, user ) %>
        <%= table_cell linkTo( user.email, user) %>
      <% end %>
    <% end %> <!--end .each-->
  <% end %> <!--end table-->

</div>
