<%= render :partial => "shared/titles",
           :locals => {:tab => "rrm::Zutaten",
                       :page => ""} %>
<div id="search_left">
<div id="form">
  <h2>Zutaten (<%= @ingreds_length %>)</h2>
  <br/>
  <%= render :partial => "shared/alpha_search", :locals => {:c => "ingreds"} %>
  <div id="erg"><div/>
<div/>
<div/>


