<%= render :partial => "shared/titles", :locals => {:tab => "rrm::Einheiten", :page => "" }%>

<div id="form">
  <h2>Einheiten</h2>

  <% table ["Bezeichnung"] do %>
    <% @units.each do |unit| %>
      <% table_row(unit, edit_unit_path(unit), alternating=true, show=false, edit=logged_in?, destroy=false) do %>
        <%= table_cell linkTo( unit.name, unit ) %>
      <% end %>
    <% end %> <!--end .each-->
  <% end %> <!--end table-->

  <% if logged_in? %>
    <%= button_to 'Neu', new_unit_path %>
  <% end %>
<div/>
