<%= render :partial => "shared/titles", :locals => {:tab => "rrm::Einheiten", :page => "" }%>

<% form('Übersicht', ["#{imageLinkTo 'Add_16x16.png', new_unit_path, 'Neu', false  if logged_in?}"], nil) do %>

  <h2>Einheiten</h2>

  <% table ["Bezeichnung"] do %>
    <% @units.each do |unit| %>
      <% table_row(unit, edit_unit_path(unit), alternating=true, show=false, edit=logged_in?, destroy=false) do %>
        <%= table_cell linkTo( unit.name, unit ) %>
      <% end %>
    <% end %> <!--end .each-->
  <% end %> <!--end table-->

  <% end %> <!--end form-->


