<%= render :partial => "shared/titles", :locals => {:tab => "rrm::Einheiten", :page => "Einheiten::Neu" }%>
<%form('Einheit', ["#{imageLinkTo 'Previous_16x16.png', units_path, 'Zurück zur Übersicht', false if logged_in?}",
                  "#{imageLinkTo 'Edit_16x16.png', edit_unit_path(@unit), 'Bearbeiten', false if logged_in?}"], nil) do%>
  <p>
    <b>Name:</b>
    <%= @unit.name %>
  </p>
  <p>
    <b>Info:</b>
    <%= @unit.info %>
  </p>
<% end %>
